.touchslider-nav-item {
    /*display: inline-block;*/
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #bbbbbb;

}

.touchslider-nav-item:hover {
    background: #fff;
}

.touchslider-nav-item.touchslider-nav-item-current {
    background-color: #02707b;
}

.touchslider {
    width: 980px;
    height:338px;
    margin: 0px auto;
    position: relative;
}

.touchslider-nav {
    position: absolute;
    z-index: 10;
    right: 19px;
    top: 13px;
}

.touchslider-padding {
    padding-bottom: 0px;
}

.touchslider.touchslider-demo {

}

.touchslider-viewport {

}

.touchslider-item {

}

.touchslider-item a {
    display: block;
    cursor: pointer;
    z-index: 8;
}