body {
   background: #fff url(/images/bg/lasers.svg) no-repeat center center;
   background-size: 100%;
   background-attachment: fixed;
   min-width: 1220px;
}

header {
    background: #232323;
}

.topGreenLine {
    background: -webkit-linear-gradient(0deg, rgba(107, 200, 91, 0.83) 0%, rgba(47, 151, 115, 0.83) 100%);
    background: -moz-linear-gradient(0deg, rgba(107, 200, 91, 0.83) 0%, rgba(47, 151, 115, 0.83) 100%);
    background: -o-linear-gradient(0deg, rgba(107, 200, 91, 0.83) 0%, rgba(47, 151, 115, 0.83) 100%);
    background: -ms-linear-gradient(0deg, rgba(107, 200, 91, 0.83) 0%, rgba(47, 151, 115, 0.83) 100%);
    background: linear-gradient(90deg, rgba(107, 200, 91, 0.83) 0%, rgba(47, 151, 115, 0.83) 100%);
    height: 3px;
}

.headerCenter {
    width: 1200px;
    margin: 0px auto;
    padding-top: 8px;
    padding-bottom: 8px;
    position: relative;
}

.number {
    color:  #ffffff;
    font-size: 18px;
    line-height: 23px;
    float: right;
    margin-right: 20px;
    font-family: SegoeUIB;
}

.number span {
    font-size: 24px;
	color: #fff;
}

.number.two {
    color:  #ffffff;
    font-size: 18px;
    line-height: 23px;
    float: right;
    padding-right: 20px;
    font-family: SegoeUIB;
    border-right: solid 1px #316549;
}

.number a,.two a {
	color:  #ffffff;
	text-decoration: none;
}

.infoBlockCenter .two a {
	color: #613082 !important;
}

.lang {
    
}

.lang span:hover {
	cursor: pointer;
}

.rus {
    float: left;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 400;
    width: 22px;
    height: 22px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 3px;
    margin-left: 5px;
    margin-top: 2px;
}

.eng {
    float: left;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 400;
    width: 22px;
    height: 22px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 3px;
    margin-left: 5px;
    margin-top: 2px;
}

.rus.active, .eng.active {
    color:  #232323;
    border-radius: 50%;
    background-color:  #ffffff;
    width: 22px;
    height: 22px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 3px;
}

.logo {
    float: left;
    margin-right: 25px;
}

.naw {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: -webkit-linear-gradient(0deg, rgba(107, 200, 91, 0.95) 0%, rgba(47, 151, 115, 0.95) 100%);
    background: -moz-linear-gradient(0deg, rgba(107, 200, 91, 0.95) 0%, rgba(47, 151, 115, 0.95) 100%);
    background: -o-linear-gradient(0deg, rgba(107, 200, 91, 0.95) 0%, rgba(47, 151, 115, 0.95) 100%);
    background: -ms-linear-gradient(0deg, rgba(107, 200, 91, 0.95) 0%, rgba(47, 151, 115, 0.95) 100%);
    background: linear-gradient(90deg, rgba(107, 200, 91, 0.95) 0%, rgba(47, 151, 115, 0.95) 100%);
    width: 1200px;
    height: 41px;
    position: absolute;
    bottom: -41px;
    left: 0px;
    box-sizing: border-box;
    padding: 6px 0 0 15px;
}

.naw li {
    display: inline-block;
    padding: 8px 15px 5px 15px;
}

.naw li a {
    color:  #232323;
    font-size: 14px; 
    text-transform: uppercase;
}

.naw li a:hover {
    color: #fff;
}

.naw .active {
    background: #fff;
    border-radius: 3px; 
}

.naw .active a:hover {
    color:  #232323;
}

.topBanner {
    height: 592px;
    background: #000 url(/images/bg/bannerImg.jpg) no-repeat no-repeat center center ;
    background-size: cover;
}

.lineWhite {
    height: 243px;
    background-color:  rgba(218, 226, 221, 0.71); 
    margin-top: 54px;
}

.BannerText {
    color:  #ffffff;
    font-size: 48px;
    letter-spacing: 1.92px;
    line-height: 60px;
    text-align: center;
    font-family: SegoeUIB;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.35);
    text-transform: uppercase;
    width: 800px;
    margin: 0px auto 0px auto;
    box-sizing: border-box;
    padding-top: 80px;
}

.playBottom {
    width: 150px;
    margin: 2px auto;
    text-align: center;
    cursor: pointer;
}

.playBottom img {
    
}

.playBottom span {
    display: block;
    color:  #ffffff;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 2px;
    letter-spacing: 1px;
}

.playYouTube {
    display: block;
    background: url(/images/social/youtube_32.png) no-repeat center center;
    width: 34px;
    height: 34px;
    position: absolute;
    bottom: 27px;
    right: 5px;
    font-size: 33px;
    line-height: 34px;
}

.infoBlock {
    background-color:  rgba(255, 255, 255, 0.91);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
    height: 279px;
    width: 384px;
    position: absolute;
    top: -260px;
}

.infoBlockCenter {
    margin: 0 auto;
    width: 1200px;
    position: relative;
}

.infoBlock.one {
    left: 0px;
    
}

.infoBlock.two {
    left: 410px;
    
}

.infoBlock.three {
    left: 810px;
    
}

.infoBlock img {
    display: block;
    margin: 20px auto 25px auto;
}

.infoBlock strong {
    color:  #232323;
    font-size: 18px;
    line-height: 23px;
    display: block;
    text-align: center;
    padding-bottom: 20px;
    font-family: SegoeUIB;
    text-transform: uppercase;
}

.infoBlock p {
    color:  #484848;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding: 0 34px;
}

.infoBlock strong a{
	color: #2B3083;
}

.contentCenter {
    max-width: 1200px;
    margin: 0px auto;
    background-color:  rgba(255, 255, 255, 0.53);
    box-sizing: border-box;
    padding: 200px 10px 0 10px;
}

.mainH1 {
    color:  rgba(35, 35, 35, 0.83);
    font-size: 30px; 
    line-height: 22px;
    display: block;
    text-align: center;
    padding-bottom: 25px;
    text-transform: uppercase;
    font-family: SegoeUISB;
}

.topText {
    color:  #474747;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 50px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    
}

.mainH2 {
    color:  rgba(35, 35, 35, 0.83);
    font-size: 30px; 
    line-height: 22px;
    display: block;
    text-align: center;
    padding-bottom: 25px;
    text-transform: uppercase;
    font-family: SegoeUISB;
}

.type {
    width: 1300px;
}

.type li {
    width: 276px;
    float: left;
    margin-right: 20px;
    border: 1px solid #dae2dd;
    background: #fff;
    position: relative;
    padding: 40px 0 0 0;
    margin-top: 30px;
}

.type .alphaBeta {
    border-radius: 50%;
    background-color:  #dae2dd;
    width: 54px;
    height: 54px;
    text-align: center;
    position: absolute;
    top:-27px;
    left: 115px;
    color:  #ec921d;
    font-size: 33px;
    line-height: 49px;
    font-family: SegoeUIL;
}

.type .alphaBeta a {
	color: #ec921d;
}

.type img {
    display: block;
    margin: 0 auto 25px auto;
    height: 160px;
    width: auto;
}

.moreTypeInfo {
    background: #dae2dd;
    padding: 25px 20px;
    color:  #6f6f6f;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.moreComplectations {
    border-radius: 4px;
    background: -webkit-linear-gradient(90deg, rgba(47, 151, 115, 0.83) 0%, rgba(107, 200, 91, 0.83) 100%);
    background: -moz-linear-gradient(90deg, rgba(47, 151, 115, 0.83) 0%, rgba(107, 200, 91, 0.83) 100%);
    background: -o-linear-gradient(90deg, rgba(47, 151, 115, 0.83) 0%, rgba(107, 200, 91, 0.83) 100%);
    background: -ms-linear-gradient(90deg, rgba(47, 151, 115, 0.83) 0%, rgba(107, 200, 91, 0.83) 100%);
    background: linear-gradient(0deg, rgba(47, 151, 115, 0.83) 0%, rgba(107, 200, 91, 0.83) 100%);
    width: 272px;
    height: 43px;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.35);
    text-transform: uppercase;
    display: block;
    text-align: center;
    margin: 30px auto;
}

footer {
    border-top: solid 2px #d1d1d1; 
    padding-top: 25px;
    padding-bottom: 40px;
    background: #fff;
}

.footerCenter {
    width: 1200px;
    margin:  0px auto;
}

.rightFooterBlock {
    float: right;
}

.rightFooterBlock img {
    
}

.rightFooterBlock span {
    display: block;
    color:  #aeb4b0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
    text-transform: uppercase;
}

.leftFooterBlock {
    float: left;
}

.leftFooterBlock span {
    color:  #aeb4b0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    display: block;
    padding-bottom: 12px;
}

.YouTubeModal,
.videoModal {
    position: fixed;
    width: 560px;
    height: 339px;
    padding: 4px;
    background: #fff;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -280px;
    z-index: 10;
    display: none;
}

.bgVideo {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9;
    display: none;
}

.YouTubeModal svg,
.videoModal svg {
    float: right;
    fill: #ec921d;
    cursor: pointer;
}

.content {
    margin: 0px auto 0px auto;
    width: 1200px;
    background-color: rgba(255, 255, 255, 0.53);
    box-sizing: border-box;
    padding: 70px 10px 60px 10px;
}

.content h1 {
    color:  #232323;
    font-size: 36px; /* Приближение из-за подстановки шрифтов */
    font-weight: 600;
    line-height: 23px;
    font-family: SegoeUISB;
    text-transform: uppercase;
	padding-bottom: 30px;
}

.content p {
	color: #232323;
	font-size: 15px;
	font-weight: 400;
	line-height: 19px;
	padding-bottom: 10px;
}

.content a {
	color: #1C00CA;
}

.leftBlockUslugy {
    float: left;
    width: 50%;
    margin-bottom: 30px;
}

.leftBlockUslugy p {
    color:  #232323;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    width: 90%;
}

.rightBlockUslugy {
    float: left;
    width: 50%;
    border-radius: 10px;
    background-color:  #ffffff;
    border: 1px solid #41a277;
    box-sizing: border-box;
    position: relative;
    padding: 20px 20px;
}

.rightBlockUslugy p {
    color:  #232323;
    font-size: 15px; 
    font-family: SegoeUISB;
    line-height: 19px;
    width: 66%;
}

.rightBlockUslugy .zacazat {
    border-radius: 4px;
    background: -webkit-linear-gradient(90deg, rgba(47, 151, 115, 0.83) 0%, rgba(107, 200, 91, 0.83) 100%);
    background: -moz-linear-gradient(90deg, rgba(47, 151, 115, 0.83) 0%, rgba(107, 200, 91, 0.83) 100%);
    background: -o-linear-gradient(90deg, rgba(47, 151, 115, 0.83) 0%, rgba(107, 200, 91, 0.83) 100%);
    background: -ms-linear-gradient(90deg, rgba(47, 151, 115, 0.83) 0%, rgba(107, 200, 91, 0.83) 100%);
    background: linear-gradient(0deg, rgba(47, 151, 115, 0.83) 0%, rgba(107, 200, 91, 0.83) 100%);
    width: 159px;
    height: 43px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.35);
    text-transform: uppercase;
    display: block;
    text-align: center;
    position: absolute;
    top: 38px;
    left: 404px;
}

.content h2 {
    color:  #232323;
    font-size: 24px;
    font-weight: 600;
    line-height: 19px;
    font-family: SegoeUISB;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.tableInfo {
    width: 100%;
    margin-bottom: 30px;
    border: #dae2dd 1px solid;
}

.topLine {
    
}

.topLine  {
    background-color: #dae2dd;
    
}

.topLine td {
    padding-top: 27px;
    box-sizing: border-box;
    padding-bottom: 27px;
    position: relative;
    width: 209px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgba(255, 255, 255, 0.32);

}

.topLine td img {
    height: 160px;
    
}

.circl {
    border-radius: 50%;  background-color:  rgba(218, 226, 221, 0.74);  width: 54px;  height: 54px;
    
    color: #000000;  font-size: 33px;    
    line-height: 50px;
    font-family: SegoeUIL;
    position: absolute;
    z-index: 2;
    text-align: center;
    top: 68px;
    left: 78px;
}

.topLine .name {
    width: 357px;
    color:  #000000;
    font-size: 16px;
    font-family: SegoeUISB;
    text-align: left;
    padding-left: 30px;
}

.lineInfo {
    border-bottom: 1px solid #dae2dd;
}

.lineInfo td {
    border-left: 1px solid #dae2dd;
    padding: 10px 0;
    text-align: center;
    vertical-align: middle;
}

.lineInfo td span {
    color:  #4bab73;
    font-size: 34px;
    font-family: SegoeUIBL;
}

.lineInfo td .orang {
    color: #e2881e;
}

.lineInfo .oneColon {
    text-align: left;
    padding-left: 20px;
}

.lineInfo .oneColon span {
    font-size: 16px;
    color: #e2881e;
    
}

.bottomLine {
    background-color:  #dae2dd; 
    height: 64px;
    
}

.bottomLine td {
    vertical-align: middle;
    font-size: 34px;
    text-align: center;
    font-family: SegoeUIB;
}

.bottomLine .oneBL {
    color:  #000000;
    font-size: 16px;
    font-family: SegoeUIB;
    padding: 0px 20px;
    text-align: left;
}

.oneCol {
    color: #6fc864;
}

.twoCol {
    color: #61bd6a;
}

.treeCol {
    color: #4bab73;
}

.fourCol {
    color: #3b9d7a;
}

.dopInfo {
    
}

.dopInfo span {
    color:  #515151;
    font-size: 16px;
    font-family: SegoeUIB;
}

.dopInfo li {
    padding: 5px 0;
    
}

.dopInfo li ul li {
    padding-left: 28px;
    
}

.dopInfo svg {
    margin-left: 7px;
    
    margin-right: 7px;
}

.dopInfo span strong { 
    color: #ec5e11;
}

.titleBlockfaq {
    border-bottom: 2px solid #6dbf80;
    padding: 25px 0px;
}

.leftquestions {
    float: left;
    width: 50%;
    text-align: center;
    color:  #6dbf80;
    font-size: 29px;
    line-height: 20px;
    font-family: SegoeUIL;
    text-transform: uppercase;
}

.rightanswer {
    float: left;
    width: 50%;
    text-align: center;
    color:  #565656;
    font-size: 29px;
    line-height: 20px;
    font-family: SegoeUIL;
    text-transform: uppercase;
}

.leftquestionsText {
    color:  #42a476;
    font-size: 15px;
    font-family: SegoeUISB;
    line-height: 20px;
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding-right: 25px;
    background: url(/images/bg/FAQ.png) no-repeat 0px 0px; 
    min-height: 50px;;
    padding-left: 43px;
    padding-top: 4px;
}

.rightquestionsText {
    color:  #565656;
    font-size: 15px;
    font-family: SegoeUISB;
    line-height: 20px;
    width: 50%;
    float: left;
    padding-top: 4px;
}

.qAndW {
    
}

.qAndW li {
    padding: 20px 0;
    border-bottom: 1px solid #d9d9d9;
}

.numericlist ol {
    counter-reset: item;
}

.numericlist ol li {
	font-size: 15px;
	color: #232323;
	font-weight: 400;
	line-height: 19px;
	padding-left: 20px;
	margin-bottom: 7px;
}

.numericlist ol li:before {
    display: inline-block;
    content: counter(item) ". ";
    counter-increment: item;
	margin-right: 10px;
}

.dottedlist ul li {
	font-size: 15px;
	color: #232323;
	line-height: 19px;
	padding-bottom: 5px;
	padding-left: 35px;
}

.dottedlist ul li:before {
	content: "• ";
	color: rgba(47, 151, 115, 0.95);
	margin-right: 8px;
	font-size: 20px;
}

.contactForm {
	width: 450px;
	margin-top: 15px;
}

.contactForm .textinput {
	border-style: solid;
	border-width: 1px;
	border-color: rgb(187, 187, 187);
	background: #F7F7F7;
	padding: 10px 15px;
	width: 450px;
	float: left;
	font-size: 14px;
	margin-top: 15px;
}

.contactForm .text {
	border-style: solid;
	border-width: 1px;
	border-color: rgb(187, 187, 187);
	background: #F7F7F7;
	padding: 10px 15px;
	width: 450px;
	height: 74px;
	float: left;
	margin-top: 15px;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}

.contactForm .sendMessageButton {
	border-radius: 2px;
	background-image: -moz-linear-gradient( 90deg, rgba(107, 200, 91, 0.78) 0%, rgba(107, 200, 91, 0.95) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgba(107, 200, 91, 0.78) 0%, rgba(107, 200, 91, 0.95) 100%);
	background-image: -ms-linear-gradient( 90deg, rgba(107, 200, 91, 0.78) 0%, rgba(107, 200, 91, 0.95) 100%);
	box-shadow: 0px 1px 3px #666;
	width: 150px;
	height: 30px;
	border: none;
	color: #ffffff;
	font-size: 14px;
	text-transform: uppercase;
	cursor: pointer;
	margin: 15px 3px 4px 3px;
}

.image-list {
	display: inline-block;
	padding: 4px;
	margin: 0 0.5rem 1rem 0.5rem;
	border-radius: 6px;
	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
}

.image-list img {
	width: 175px;
	height: 98px;
	margin: 0 0.4rem 1rem 0.4rem;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

.inlineTextBlockFirst {
	display : inline-block;
	width: 70%;
}

.inlineTextBlockSecond {
	display : inline-block;
	width: 25%;
	position: absolute;
}

.orderButton {
border-radius: 4px;
  background: -webkit-linear-gradient(90deg, rgba(47, 151, 115, 0.83) 0%, rgba(107, 200, 91, 0.83) 100%);
  background: -moz-linear-gradient(90deg, rgba(47, 151, 115, 0.83) 0%, rgba(107, 200, 91, 0.83) 100%);
  background: -o-linear-gradient(90deg, rgba(47, 151, 115, 0.83) 0%, rgba(107, 200, 91, 0.83) 100%);
  background: -ms-linear-gradient(90deg, rgba(47, 151, 115, 0.83) 0%, rgba(107, 200, 91, 0.83) 100%);
  background: linear-gradient(0deg, rgba(47, 151, 115, 0.83) 0%, rgba(107, 200, 91, 0.83) 100%);
  width: 272px;
  height: 43px;
  color: #ffffff !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.35);
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin-top: 10px;
}

.topTextMain  {
	margin-bottom:20px;
}

.topTextMain  p{
  color: #474747;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 30px;
}

.allignRight {
	float: right;
	margin-right: 30px;
	margin-top: -57px;
	margin-bottom: 10px;
}

.allignRight img {
	margin: 0 auto;
	width: 144px;
	height: 161px;
	display: block;
}

.priceLabel {
	font-family: SegoeUIB;
	margin-top: 15px;
	margin-left: 10px;
	display: block;
}

.ycounter {
	margin-left: 20px;
	margin-top: 7px;
	visibility: hidden;
}

.socials {
	margin-left: 20px;
}

.socials img {
	display: block;
	margin-bottom: 3px;
}

img.center-img {
	display: block;
	margin: 10px auto;
}

header .headerCenter .number img {
	height: 25px;
}