ul.as-selections {
	width: 286px;
	display: inline-block;
	margin-right: 0px;
	height: 30px;
}

.deassociateDevice {
	margin-top: 10px;
	font-weight: normal;
	width: 100%;
	text-align: center;
}

.associateDeviceSubmit {
	vertical-align: top;
}
.otherGoodItem {
	float: left;
	width: 200px;
	text-align: center;
	margin-top: 30px;
	margin-right: 20px;
}