
.propertiesParts {
	display: block;
	position: relative;
	margin: 10px;
	padding: 10px;
	padding-left: 20px;
	min-height: 120px;
	border: 1px solid #f4f4f4;
	border-bottom: 1px solid #e8e8e8;
	background: #fff;
	border-radius: 3px;
}

.propertiesParts div.property {
	margin: 5px 10px;
	position: relative;
	display: inline-block;
	border-radius: 3px;
	cursor: pointer;
	width: 212px;
	height: 56px;
}

.propertiesParts div.property.sortItem {
	background: #fff;
	border: 1px solid #fcfcfc;
}

.propertiesParts div.property div.propertyDetails {
	height: 56px;
	overflow: hidden;
}

.propertiesParts div.property div.propertyDetails.editPropertyRelation {
	top: -5px;
	left: -8px;
	z-index: 1000;
	position: absolute;
	height: auto;
	background-color: #f9fbfc;
	padding: 0 5px;
	width: 158px;
	border: 1px solid #f4f4f4;
	border-bottom-color: #f2f2f2;
	border-radius: 3px;
	box-shadow: 0 0 7px #bfbfbf;
	-moz-box-shadow: 0 0 7px #bfbfbf;
	-webkit-box-shadow: 0 0 7px #bfbfbf;
}

.propertiesParts div.property .propertyDetails.editProperty {
	position: absolute;
	border-radius: 3px;
	padding-left: 5px;
	z-index: 1001;
	height: auto;
}
.propertiesParts div.property .propertyDetails.editProperty select {
	height: 25px;
	width: 146px;
	margin-left: 2px;
	margin-top: 2px;
	display: none;
	z-index: 1001;
}


.propertiesParts div.propertyValue span.transformed {
	padding-left: 5px;
	font-size: 12px;
	width: 206px;
	height: 35px;
	display: inline-block;
	overflow: hidden;
}
.propertiesParts div.propertyValue .assigned {
	margin-left: 5px;
	color: #50b7fc;
}
.propertiesParts div.propertyValue {
	margin: 5px 0;
	position: relative;
	display: block;
	border-radius: 3px;
	cursor: pointer;
	overflow: hidden;
}
.propertiesParts div.propertyRelation {
	margin: 5px 0;
	padding-left: 2px;
	position: relative;
	display: block;
	border-radius: 3px;
	cursor: pointer;
}
.propertiesParts div.propertyRelation select{
	height: 25px;
	width: 60px;
}
.propertiesParts div.propertyRelation input{
	width: 80px;
}

.propertyPlaceHolder {
	display: inline-block;
	width: 163px !important;
	height: 29px !important;
	border: 1px solid #96d3ff;
	background: #f9fcff;
	padding: 0;
	margin: 0;
}

.propertiesParts table.addPropertyValue td .transformed:hover {
	opacity: 1;
}
.propertiesParts div input {
	width: 100px;
	height: 20px;
	line-height: 20px;
}
.propertiesParts table.addPropertyValue td .transformed {
	background-color: #fcfcfc;
	border: 1px solid #f7f7f7;
	border-bottom-color: #f2f2f2;
	color: #a8c9e0;
	display: block;
	height: 37px;
	line-height: 37px;
	font-size: 13px;
	padding: 0 10px;
	border-radius: 3px;
	text-decoration: none;
	text-align: center;
}
.propertiesParts table.addPropertyValue:hover td .transformed {
	background-color: #fcfcfc;
	border: 1px solid #e3eff7;
	border-bottom-color: #dae8f2;
	display: block;
	height: 37px;
	line-height: 37px;
	color: #a8c9e0;
	font-size: 13px;
	padding-left: 10px;
	border-radius: 3px;
	text-decoration: none;
	text-align: center;
}

.propertiesParts div .transformer {
	margin-left: 6px;
	width: 60px;
	height: 20px;
}
.additionalInfo {
	height: 10px;
}

.propertiesParts .additionalInfo.actions {
	display: none;
}

.propertiesParts .additionalInfo.actions a {
	color: #005e99;
	text-decoration: underline;
	cursor: pointer;
}
.propertiesParts .additionalInfo.actions a:hover {
	text-decoration: none;
}

.propertiesParts div input[type=checkbox], .propertiesParts table input[type=radio] {
	height: 20px;
	width: 20px;
	margin: 5px;
}
.propertiesParts div label {
	font-size: 1.09em;
	display: block;
	height: 33px;
	line-height: 33px;
}

.propertiesParts table.addPropertyValue {
	display: none;
	background: none;
	border: none;
	width: auto;
}

.main.highlight {
	background: #fffafa;
}

.newPropertyForm input{
	width: 100px;
	height: 20px;
}

.newPropertyFormSubmit {
	float: right;
	margin-right: 8px;
}

a.addInContent {
	display: block;
	width: 16px;
	height: 16px;
	background: url(/admin/images/buttons/save_object.png) no-repeat center top;
}

.propertiesParts.addingMode input {
	height: 30px;
	font-size: 20px;
	margin: 2px;
}
.propertiesParts.addingMode {
	min-height:10px;
	line-height: 30px;
	font-size: 14px;
	padding-left: 10px;
	border-radius: 3px;
	text-shadow: 0 1px 0 #fff;
	box-shadow: none;
	border: none;

	background-color: #fcfcfc;
	border: 1px solid #f7f7f7;
	border-bottom-color: #f2f2f2;
	color: #a8c9e0;

}
.propertiesParts.addingMode:hover {
	background-color: #fcfcfc;
	border: 1px solid #e3eff7;
	border-bottom-color: #dae8f2;
}

.propertiesParts.addingMode span.transformed {
	font-size: 18px;
	width: 100%;
	display: block;
}

.propertiesParts.hide{
	display: none;
}
.propertiesParts.removeMode {
	position: fixed;
	bottom: 30px;
	width: 955px;
	height: 120px;
	min-height:10px;
	line-height: 30px;
	font-size: 14px;
	border: 1px solid #ffdbdb;
	background: #fff9f9;
	color: #ffdbdb;
	padding-left: 10px;
	border-radius: 3px;
	text-shadow: 0 1px 0 #fff;
	box-shadow: none;
}
.propertiesParts.removeMode.highlight {
	border: 1px solid #ff9393;
	background: #ffeded;
	color: #ff6d6d;
}

.propertiesParts h3 {
	margin-bottom: 10px;
	color: #005e99;
}

.propertiesParts h3 input {
	font-size: 14px;
	height: 19px;
	margin-top: -5px;
}
.propertiesParts h3 span.additionalInfo span.preText {
	color: #d3d3d3;
	text-decoration: none;
}

.propertiesParts h3 span.additionalInfo {
	float: right;
	color: #005e99;
	font-size: 12px;
}

.propertiesParts h3 span.additionalInfo .transformed {
	text-decoration: underline;
	cursor: pointer;
}
.propertiesParts h3 span.additionalInfo .transformed:hover {
	text-decoration: none;
}

.propertiesParts h3:hover {
	color: #004570;
	text-decoration: underline;
}

.propertyPartPlaceHolder {
	display: block;
	min-height: 120px;
	border: 1px solid #96d3ff;
	background: #f9fcff;
	margin: 10px;
	padding: 10px;
	padding-left: 20px;
}

.propertiesParts .property.hover {
	z-index: 1002;
}

.propertiesParts .property.hover .editProperty {
	padding-left: 5px;
	background: #fff;
	box-shadow: 0 0 7px #bfbfbf;
	-moz-box-shadow: 0 0 7px #bfbfbf;
	-webkit-box-shadow: 0 0 7px #bfbfbf;
}

.propertiesParts .deletePropertyValue, .propertiesParts .deletePropertyValue:active, .propertiesParts .deletePropertyValue:hover {
	border: 1px solid #ffdbdb;
	background: #fff9f9;
	color: #ffdbdb;
	font-size: 10px;
	text-align: center;
	height: 31px;
	width: auto;
	display: inline-block;
	line-height: 10px;
}

.propertiesParts .hide {
	display: none;
}

.propertiesParts .deletePropertyValue td:last-child {
	text-align: center;
	padding-top: 3px;
	height: 35px;
	width: 130px;
}

.propertiesParts .deletePropertyValue.highlight {
	border: 1px solid #ff9393;
	background: #ffeded;
	color: #ff6d6d;
}

.propertiesParts .editPropertyValue, .propertiesParts .editPropertyValue:active, .propertiesParts .editPropertyValue:hover {
	color: #000;
	font-size: 12px;
	height: 25px;
	line-height: 20px;
	width: 144px;
	display: inline-block;
	margin-right: 10px;
	margin-left: 2px;
	text-align: center;
}

.propertiesParts .hide {
	display: none;
}

.propertiesParts .editPropertyValue td:last-child {
	text-align: center;
	height: 35px;
	width: 100px;
}

.propertiesParts .editPropertyValue.highlight {
	border: 1px solid #50b7fc;
	background: #eff8ff;
	color: #50b7fc;
}

.propertiesParts.highlight {
	border: 1px solid #50b7fc;
	box-shadow: 0 0 3px #8ed2ff;
	-moz-box-shadow: 0 0 3px #8ed2ff;
	-webkit-box-shadow: 0 0 3px #8ed2ff;
}

table td .hoverUnderLine:hover {
	text-decoration: underline;
}
table.addPropertyValue td .hoverUnderLine:hover {
	text-decoration: none;
}

.propertiesParts table td .transformed {
	cursor: pointer;
}

input.highlightSuccess {
	box-shadow:0 0 3px rgba(0,154,0,.6);
	-webkit-box-shadow: 0 0 3px rgba(0,154,0,.6);
	-moz-box-shadow:0 0 3px rgba(0,154,0,.6);
}