#ajax_block_img {
	position: absolute; 
	bottom: 40%; 
	left:40%; 
	z-index:2000;
}
#ajax_block_img img {
	display: inline-block;
	margin-bottom: -9px;
}

#ajax_block_img span.loaderTitle {
	display: inline-block;
}
.ajax_block {
	background: none;
}
.loaderTitle {
	padding: 10px;
	color: Gray;
	display: block;
	font-weight: normal;
	
}